<div class="row">
  <% comics.each do |comic| %>
    <div class="col-md-2">
      <% if @favorites_list.include?(comic[:id]) %>
        <div class="favorite"><%= image_tag "heart_on.png" %></div>
        <div class="image" style= "border-color: red; border-style: solid; border-width: 10px;">
            <%= button_to image_tag(comic[:image]), favorite_comics_destroy_path, params: { marvel_id: comic[:id] }, method: :delete %>
        </div>
      <% else %>
        <div class="unfavorite"></div>
        <div class="image">
          <%= button_to image_tag(comic[:image]), favorite_comics_create_path, params: { marvel_id: comic[:id] }, method: :create %>
        </div>
      <% end %>
      <div class="text"><%= comic[:title] %></div>
    </div>
  <% end %>
</div>
