<div class='container'>
  <%= render 'comics_list', comics: @comics %>
  <div class="row">
    <div class="col-md-12">
      <% if @page.to_i >= 1 %>
        <%= link_to "Previews Page", { page: params[:page].to_i - 1 }, class: 'btn btn-light left' %>
      <% end %>
      <%= link_to "Next Page", { page: params[:page].to_i + 1 }, class: 'btn btn-light right' %></button>
    </div>
  </div>
</div>
