.image:hover {
  filter: brightness(50%);
}

.image {
  outline:none;
  overflow: hidden
}

.image img {
  height: 280px;
  object-fit: cover;
}

.text {
  display: none;
  float: left;
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  background-color: white;
  width: 200px;
  height: 30%;
  border: 10px solid white;
  font-weight: bold;
}

.unfavorite {
  position: absolute;
  z-index: 1010;
  top: 0px;
  content: url("heart_off.png");
  padding-top: 30px;
  padding-left: 30px;
}

.unfavorite:hover {
  content: url("heart_hover.png");
}

.favorite {
  z-index: 1010;
  position: absolute;
  top: 0px;
  padding-top: 30px;
  padding-left: 30px;
}

.col-md-2 {
  position: relative;
  padding-top: 10px;
}

.container {
  padding-top: 170px;
}

.col-md-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}
    
.image:hover + .text {
  display: block;
  color: black;
}

.btn-light.right {
  float: right
}