<!DOCTYPE html>
<html>
  <head>
    <title>ComicsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color:#353232;">
    <nav class="navbar fixed-top navbar-light"  style="background-color: #e12315; height: 150px">
      <div class="col-md-4"></div>
      <div class="col-md-7 navbar">
        <div>
          <div style="padding-left: 60px;">
          <%= button_to image_tag("marvel_logo.png"), root_path, size: "100x50"%></div>
          <p style="padding-left: 100px;">
            <%= form_tag("/search", method: "get", id: 'name_search') do %>
              <%= text_field_tag(:character_name, params[:character_name]) %>
            <% end %>
          <p>
          <%= flash[:notice] %> <%= flash[:alert] %> 
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
